name: '[Reusable] Pack and publish nuget package'

on:
  workflow_call:
    inputs:
      filename:
        type: string

jobs:
  reusable_workflow_job:
    runs-on:  windows-latest
    steps:
    - name: Set current date as env variable
      run: echo "now=$(date +'%Y%m%dT.%H%M%S')" >> $GITHUB_ENV

    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v2

    - name: "Download build"
      uses: actions/download-artifact@v4
      with:
        name: ${{ inputs.filename }}

    - name: Build solution
      run: msbuild H.Core/H.Core.csproj /t:pack /p:Version=4.4.$now /p:platform="Any CPU" /p:Configuration=$env:Configuration /m
      env:
        Configuration: ${{ inputs.configuration }}

    - name: Upload build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Holos4-nuget-pkg
        path: '**/H.Core/bin/aafc.holos*.pkg'