name: Build and publish new release

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    uses: ./.github/workflows/_dotnet-build-template.yml
    with:
      configuration: Release
      solution: Holos.sln
      filename: Holos4-lib

  nuget:
    needs: build
    uses: ./.github/workflows/_dotnet-nuget-template.yml
    with:
      configuration: Release

  publish:
    needs: build
    uses: ./.github/workflows/_dotnet-publish-template.yml
    with:
      filename: Holos4-lib

