<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="H.Avalonia.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <H.Avalonia.Settings>
            <setting name="DisplayLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="UserRegion" serializeAs="String">
                <value />
            </setting>
        </H.Avalonia.Settings>
    </userSettings>
</configuration>